*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------- General Styles ------- */
:root{
    /* Base font size for the entire website */
    font-size: 10px;

    /* --------Colors------- */
    /* m=modified */
    /* l = light */
    /* d = dark */
    --color-primary: hsl(232,15%,19%);
    --color-primary-m-l: hsla(231,15%,19,0.55);
    --color-primary-m-d: hsla(213,15%,19,0.85);

    --color-secondary: rgb(255,170,6);
    --color-secondary-m-l: rgba(255,170,6,0.55);
    --color-secondary-m-d: rgba(255,170,6,0.85);

    --color-tertiary: #1a508b;
    --color-tertiary-m-l: hsla(211,68%,32%,0.55);
    --color-tertiary-m-d: hsla(211,68%,32%,0.85);

    --color-quaternary: rgb(231,231,230);
    --color-quaternary-m-l: rgba(231,231,230,0.55);
    --color-quaternary-m-d: rgba(231,231,230,0.85);

    /*------------ Paddings ------------- */
    /* 
        xl = xtra large
        l = large
        m = medium
        s = small
     */
    --padding-xl: calc(2rem + 6vh) calc(2rem + 6vw);
    --padding-l: calc(3rem + 4vh) calc(3rem + 4vw);
    --padding-m: calc(2rem + 2vh) calc(2rem + 2vw);
    --padding-s: calc(1rem + 1vh) calc(1rem + 1vw);

    /* ------------Font size */
     /* 
        l = large
        m = medium
        s = small
        xs = extra small
     */ 

     --font-size-l: calc(1.5rem + 2vw);
     --font-size-m: calc(1rem + 1.5vw);
     --font-size-s: calc(1rem + 1vw);
     --font-size-xs: calc(0.5rem + 0.8vw);

     /* ---------- Font Family */
     --font-family-main: "Fredoka",sans-serif;
     --font-family-sub: "Poppins",sans-serif;   
}

body{
    font-family: var(--font-family-sub);
    line-height: 1.5;
}

.container{
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] 
    repeat(10, [col-start] minmax(min-content, 11rem) [col-end])
    [center-end] 1fr [container-end];

    grid-template-rows:  repeat(6, min-content);
    background-color: var(--color-primary);
}

a{
    text-decoration: none;
    color: var(--color-quaternary);
}

li{
    list-style: none;
}

/* ------------------------------------------------------------------- Header */
#main-header{
    background-color: var(--color-primary);
    grid-column: center-start / center-end;
    padding: var(--padding-s);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.main-header__logo h2 {
  font-size: 3rem;
  color: var(--color-quaternary);
  font-family: var(--font-family-main);
}

.main-header__logo span {
    color: var(--color-secondary);
  }

.main-header__nav{
    width: 80%;
    z-index: 1;

    display: flex;
    justify-content: space-between;
}

.hamburger{
    z-index: 1;
}

.main-header_nav--links{
    display: flex;
    gap: calc(0.5rem + 1vw);
    align-items: center;
}

.main-header_nav--links a{
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
}

.main-header_nav--links a:hover{
    background-color: var(--color-secondary);
}

.main-header__nav--registration{
    display: flex;
    gap: 1rem;
}

.main-header__nav--registration a {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
}

.main-header__nav--registration a:nth-child(2) {
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
}
/* ------------------------------------------------------------------- Hero */
.hero{
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
    padding: var(--padding-l);
    padding-bottom: 11.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;

    color: var(--color-quaternary);
    clip-path: polygon(0 0,100% 0,100% 85%,50% 100%,0 85%);    
}

.hero__content{
    flex-basis: 35rem;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero__content--rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-star,
.hero__content--rating__text span{
    color: var(--color-secondary);
}

.fa-star,
.hero__content--rating__text p{
    font-size: 1.5rem;
}

#main-title{
    font-size: calc(4rem +0.5vw);
    font-weight: 500;
    font-family: var(--font-family-main);
}

#main-para{
    font-size: var(--font-size-s);
}

.hero__content--trial{
    align-self: flex-start;
    padding: 1.5rem 2.5rem;
    background: none;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}

.hero__content--trial:hover{
    background-color: var(--color-primary);
}

.hero__content--getting-started,
.hero__content--getting-started__Credit-card,
.hero__content--getting-started__free-templates{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.hero__content--getting-started__Credit-card p,
.hero__content--getting-started__free-templates p,
.fa-check-circle {
    font-size: var(--font-size-s);
}

.fa-check-circle{
    color: var(--color-secondary);
}
.hero__vec{
    flex-basis: 35rem;
    flex-grow: 1;
}

/* ------------------------------------------------------------------- Features */
.features{
    /* background-color: var(--color-primary); */
    grid-column: center-start / center-end;
    padding: var(--padding-l);

    /* padding-top: 13rem;
    margin-top: -10rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

}

.features__title{
    color: var(--color-quaternary);
    font-size: var(--font-size-m);
    font-weight:400;
    font-family: var(--font-family-main);
}

.featues__content{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem ,1fr));
    gap: 5rem;
}

.featues__content--adaptability,
.featues__content--customizability,
.featues__content--efficiency{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 2rem;
}

.featues__content--adaptability h3,
.featues__content--customizability h3,
.featues__content--efficiency h3{
    font-size: var(--font-size-s);
    grid-column: 2/-1;
    font-weight: 300;
    align-self: start;
}

.fa-clock,
.fa-file,
.fa-mobile,
.featues__content--adaptability h3,
.featues__content--customizability h3,
.featues__content--efficiency h3{
    color: var(--color-secondary);
}

.fa-clock,
.fa-file,
.fa-mobile{
    font-size: 3.5rem;
}

.featues__content--adaptability p,
.featues__content--customizability p,
.featues__content--efficiency p{
    grid-column: 1 / -1;
    font-size: var(--font-size-xs);
    color: var(--color-quaternary);
}


/* ------------------------------------------------------------------- Diversify */
.diversify{    
    background-color: var(--color-secondary);
    grid-column: center-start / center-end;
    padding: calc(2rem + 2vh) 0 0 calc(2rem + 2vh);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    clip-path: polygon(
        0 0,
        15% 0,
        27% 5%,
        39% 0,
        51% 5%,
        63% 0,
        75% 5%,
        85% 0,
        100% 0,
        100% 100%,
        0 100%,
        0 0
    );
}

.diversify__content{
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.diversify__content--title{
    color: var(--color-primary);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-family: var(--font-family-main);
}

.diversify__content--para{
    font-size: var(--font-size-xs);
}

.diversify__content--link{
    align-self: flex-start;
    background-color: var(--color-tertiary);
    padding: 1.5rem 2.5rem;
    font-size: var(--font-size-s);
}

.diversify__image{
    flex-basis: 50%;
    background-color: var(--color-tertiary);


    display: flex;
    align-items: center;
    justify-content: center;
}

.diversify__image img{
    height: 80%;
    width: 80%;
    object-fit: cover;
}

/* ------------------------------------------------------------------- Testimonials */
.testimonials{
    height: 400px;
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
}

/* ------------------------------------------------------------------- Footer */
#footer{
    height: 400px;
    background-color: var(--color-quaternary);
    grid-column: container-start / container-end;
}

/* ------------------------------------------------------------------- Media Queries */
@media screen and (min-width: 1000px){
    #main-para,   
    .hero__content--trial,
    .hero__content--getting-started__Credit-card p,
    .hero__content--getting-started__free-templates p,
    .fa-check-circle,
    .featues__content--adaptability p,
    .featues__content--customizability p,
    .featues__content--efficiency p,
    .diversify__content--link,
    .diversify__content--para{ 
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 990px){
    .diversify__content--link{
        font-size: 1.3rem;
        padding: 1 rem 2rem;
    }
}

@media screen and (max-width: 870px){
    .hero{
        clip-path: polygon(0 0,100% 0,100% 95%,50% 100%,0 95%);
    }
    
    .diversify{
        flex-direction: column;  
        padding-top: 5rem;
        align-items: flex-start;
    }

    .diversify__content{
        padding: var(--padding-l);
        /* padding-bottom: 0; */
    }

    .diversify__image{
        align-items: flex-start;
    }

    /* .diversify__image img{
        width: 100%;
    } */
}

@media screen and (max-width: 800px) {

    /* *--*-*-*-*-*-*-*------------------******** Hamburger Menu */
    .hamburger{
        /* background-color: var(--color-secondary); */

        height: 5rem;
        width: 5rem;

        position: fixed;
        top: 3rem;
        right: 7rem;

        padding: 0.6rem;
        cursor: pointer;
    }

    /* *--*-*-*-*-*-*-*------------------******** Hamburger Menu Lines */
    .hamburger-line{
        position: absolute;
        background-color: var(--color-quaternary);
        height: 0.3rem;
        width: 3rem;
    }
    .hamburger-line:first-child{
        width: 6rem;
        top: 0;
        left: 0;
        transition: all 0.35s ease-in-out;
    }
    .hamburger-line:nth-child(2){
        width: 2.5rem;
        top: 1rem;
        left: 0;
        transition: all 0.2s ease-in-out;
    }

    .hamburger-line:last-child{
        width: 4.5rem;
        top: 2rem;
        left: 0;
        transition: all 0.35s ease-in-out;
    }

    /* *--*-*-*-*-*-*-*------------------******** Toggling Nav Bar */
    .line-1{
        transform: rotate(45deg) translate(0.3rem, 1.5rem);
        width: 3.5rem !important;
    }

    .line-2{
        visibility: hidden;
    }

    .line-3{
        transform: rotate(-45deg) translate(0, -1.15rem);
        width: 3.5rem !important;
    }

    .block.visible{
        transform: translateX(0);
    }


    /*------*----**----------*--- nav links */
    .main-header__nav,
    .main-header_nav--links,
    .main-header__nav--registration{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        grid-area: 3rem;
    }

    .main-header__nav{
        position: fixed;
        top: 0;
        right: 0;
        padding: 4rem;
        height: 100vh;
        width: 300px;
        background-color: var(--color-primary);
        transform: translateX(100rem);
        transition: all 0.55s cubic-bezier(1,0,0,1);
    }

    /*------*----**----------*--- features */
    /*------*----**----------*--- DIVERSIFY */
    .features__title{
        font-size: 3rem;
        text-align: center;
    }

    .diversify__content--title{
        font-size: 3rem;
    }

    .diversify__image img{
        width: 100%;
        height: 100%;
    }


    .featues__content--adaptability h3,
    .featues__content--customizability h3,
    .featues__content--efficiency h3{
        font-size: 2.5rem;
    }

    .featues__content--adaptability p,
.featues__content--customizability p,
.featues__content--efficiency p,
.diversify__content--para{
    font-size: 1.4rem;
}
    
}

@media screen and (max-width: 500px){
    .hero{
        padding: 2.5rem;
    }

    .fa-star,
    .hero__content--rating__text p,
    .hero__content--getting-started__Credit-card p,
    .hero__content--getting-started__free-templates p{
        font-size: 1.3rem;
    }

    .hero__content--trial{
        padding: 1rem 2rem;
    }
}